.side-bar
  .side-bar__header
    .side-bar__header__list
      .side-bar__header__list__name
        = current_user.name
      .side-bar__header__list__menu
        .side-bar__header__list__menu__icon
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'icon')
        .side-bar__header__list__menu__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon') 
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to group_messages_path(group) do
          .side-bar__groups__group__name
            = group.name
          .side-bar__groups__group__message
            = group.show_last_message